<div class="landing-page-container mt-5">
	<div class="landing-title">
		København Kaffe 
	</div>
	<div class="landing-intro mt-5">
		<p>Find your next cosy place with a cup of coffee, quickly and easily...</p>
	</div>
	<div class="landing-lead-text mt-5">
		<p> I'm looking for a place where I can... </p>
	</div>
	<div class="landing-card-container mt-5">
		<div class="card-deck">
		<div class="card">
  <div class="card-body">
    <p> Study or work </p>
  </div>
</div>

	<div class="card">
	  <div class="card-body">
	    <p> Relax a bit </p>
	  </div>
	</div>

			<div class="card">
	  <div class="card-body">
	    <p> Chat with friends </p>
	  </div>
	</div>

		<div class="card">
	  <div class="card-body">
	    <p> Get some peace and quiet </p>
	  </div>
	</div>

		<div class="card">
	  <div class="card-body">
	    <p> I don't care, show me the cafes</p>
	  </div>
	</div>

	</div>
</div>

<div class="btn btn-outline-primary mt-5"> <%= link_to "All Cafes", cafes_path  %> </div>

</div>