

.card-img-top {
  height: 180px;
  width: 286px;
}

.card {
  margin-bottom: 25px;
  display: flex;
  text-decoration: none;
}

.card-link {
  text-decoration: none;
}

.card-container {
  text-decoration: none;
}
