.container {
  display: flex;
  justify-content: center;  
}

.fa-github {
  text-decoration: none;
  color: black;
}

.fa-twitter {
  text-decoration: none;
  color: black;
}

.fa-linkedin-in {
  text-decoration: none;
  color: black;
}

.fa-envelope {
  text-decoration: none;
  color: black;
}
