a.card-link {
  text-decoration: none !important;
  font: black;
  .card-body  {
    color: black;
  }
  .fa-heart {
    position: absolute;
    right: 30px;
    bottom: 20px;
    font-size: 24px;
    color: #ff8484;
    z-index: 1;
  }
  .card-text {
    position: relative;
    bottom: -20px;
}
}

