a.card-link {
  text-decoration: none !important;
  font: black;
  .card-body  {
    color: black;
  }
  .fa-heart {
    position: absolute;
    right: 30px;
    bottom: 20px;
    font-size: 24px;
    color: #ff8484;
  }
  .card-text {
    position: relative;
    bottom: -20px;
  }
  .card-favourite {
    z-index: 5000;
  }
}

