// .banner-container {
//   width: 95%;
//   margin-right: 10px;
//   margin-left: 10px;

// }

.show-banner {
  position: relative;
  width: 100%;
  height: 450px;
  background-image: asset-url("cafe-photos/the-mudhoney.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.cafe-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-text: center;
  margin-left: 50px;
}

.reviews-container {
  display: flex;
  justify-content: center;
}

#map {
  display: flex;
  position: relative;
}

.cafe-attributes {
  margin-left: 30px;
}

.cafe-opening-times {
  margin-left: 30px;
}

.map-button-pair {
  display: flex;
  flex-direction: column;
}

.take-me-there-btn {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
