.show-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 500px;
  width: 1350 px;
  margin-top: 40px;
}

.cafe-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-text: center;
  margin-left: 50px;
}
