<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Github -->
          <a href="https://github.com/fitzsimonsjl" target="_blank">
            <i class="fab fa-github fa-lg black-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a href="https://twitter.com/fitzsimonsjl" target="_blank">
            <i class="fab fa-twitter fa-lg black-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          
          <!--Linkedin -->
          <a href="https://www.linkedin.com/in/jacklukefitzsimons/" target="_blank">
            <i class="fab fa-linkedin-in fa-lg black-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
     
          <!--Email-->
          <a href="mailto:fitzsimonsjal@gmail.com" target="_blank">
            <i class="fas fa-envelope fa-lg black-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.io/fitzsimonsjl/profile"> Jack Luke Fitzsimons</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->