<div class="footer-container">
  <div class="footer-info">
    <p> About |</p>
    <p> Contact |</p>
    <p> Privacy Policy </p>
  </div>

  <div class="footer-logos">
    <i class="far fa-envelope"></i>
    <i class="fab fa-github"></i>
    <i class="fab fa-linkedin"></i>
  </div>
</div>
