<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
  <button type="button" class="btn btn-outline-dark">Sign Up</button>
  <button type="button" class="btn btn-outline-dark">Log In</button>
</nav>
